# Longevity & Socioeconomic Status in US Counties Database

We combined public health data from the Institute of Health Metrics and Evaluation with economic data from the US Census Bureau to develop a database that contains information on longevity and socioeconomic status from each individual county in the United States over the most recent decade for which data was available, 2005-2015. This databased can be used to analyze the relationship between length of life and economic wealth in different parts of the country, highlighting possible disparities. We set up a relational database using MySQL. Over time, researchers can also add more data by adding tables for subsequent years to this database. 

Sources Used (specific csv files can be found in 'Resources' folder):

For economic data: 
* https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_10_5YR_DP03&prodType=table   

For longevity data: 
* http://www.healthdata.org/data-visualization/us-health-map
* http://ghdx.healthdata.org/us-data

### Step 1: Import Dependencies

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Step 2: Extract CSVs into DataFrames

We have used 4 different CSV files to constuct our final dataframe. 
First csv contains life expectancy data from IHME and 
rest csvs contains quinquennial economic data from the US Census (American Community Survey 5-year estimates)

In [2]:
# Extracting Life Expectancy Data
life_expect_file = "../ETL_group_project/Resources/IHME_LifeExpectancy.csv"
life_expect_df = pd.read_csv(life_expect_file)
life_expect_df.head()

,Location,State,FIPS,"Life expectancy, 1995*","Life expectancy, 2000*","Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
0,United States,NaN,NaN,"75.86 (75.85, 75.88)","76.94 (76.92, 76.95)","77.65 (77.61, 77.68)","78.82 (78.81, 78.84)","79.08 (79.04, 79.11)"
1,Alabama,NaN,1.0,"73.78 (73.70, 73.85)","74.46 (74.39, 74.53)","74.71 (74.62, 74.79)","75.58 (75.51, 75.65)","75.65 (75.57, 75.72)"
2,Autauga County,Alabama,1001.0,"73.69 (73.22, 74.20)","74.55 (74.10, 75.04)","74.71 (74.23, 75.20)","75.74 (75.25, 76.25)","75.67 (75.15, 76.18)"
3,Baldwin County,Alabama,1003.0,"75.79 (75.40, 76.20)","76.80 (76.45, 77.17)","77.09 (76.72, 77.47)","77.80 (77.45, 78.14)","78.08 (77.72, 78.43)"
4,Barbour County,Alabama,1005.0,"73.24 (72.69, 73.81)","74.13 (73.59, 74.64)","74.30 (73.69, 74.87)","75.34 (74.72, 75.95)","75.42 (74.78, 76.07)"

In [31]:
#Extracting economic Data (census data files for 3 different years)
#for 2014
econ_2014_file ="../ETL_group_project/Resources/ACS_2014_DP03.csv"
econ_2014_df = pd.read_csv(econ_2014_file, low_memory=False)
econ_2014_df.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC178,HC04_VC178,HC01_VC179,HC02_VC179,HC03_VC179,HC04_VC179,HC01_VC180,HC02_VC180,HC03_VC180,HC04_VC180
0,Id,Id2,Geography,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Margin of Error; EMPLOYMENT STATUS - Populatio...,Percent; EMPLOYMENT STATUS - Population 16 yea...,Percent Margin of Error; EMPLOYMENT STATUS - P...,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Margin of Error; EMPLOYMENT STATUS - Populatio...,Percent; EMPLOYMENT STATUS - Population 16 yea...,...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...
1,0500000US01001,1001,"Autauga County, Alabama",42512,155,42512,(X),26951,506,63.4,...,6.9,2.4,(X),(X),10.8,2,(X),(X),24.8,4.4
2,0500000US01003,1003,"Baldwin County, Alabama",152829,329,152829,(X),91667,1573,60,...,6.6,1.2,(X),(X),11.9,1.4,(X),(X),23.7,2.3
3,0500000US01005,1005,"Barbour County, Alabama",21850,82,21850,(X),10764,485,49.3,...,15.7,3.3,(X),(X),22.3,2.9,(X),(X),33.6,4.4
4,0500000US01007,1007,"Bibb County, Alabama",18487,237,18487,(X),8934,515,48.3,...,11.3,4.3,(X),(X),15.1,3.9,(X),(X),30.4,6.3

In [32]:
#Economic Data (census data files for 3 different years)
#for 2010
econ_2010_file ="../ETL_group_project/Resources/ACS_2010_DP03.csv"
econ_2010_df = pd.read_csv(econ_2010_file, low_memory=False)
econ_2010_df.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC04,HC02_VC04,HC03_VC04,HC04_VC04,HC01_VC05,HC02_VC05,HC03_VC05,...,HC03_VC173,HC04_VC173,HC01_VC174,HC02_VC174,HC03_VC174,HC04_VC174,HC01_VC175,HC02_VC175,HC03_VC175,HC04_VC175
0,Id,Id2,Geography,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Estimate Margin of Error; EMPLOYMENT STATUS - ...,Percent; EMPLOYMENT STATUS - Population 16 yea...,Percent Margin of Error; EMPLOYMENT STATUS - P...,Estimate; EMPLOYMENT STATUS - In labor force,Estimate Margin of Error; EMPLOYMENT STATUS - ...,Percent; EMPLOYMENT STATUS - In labor force,...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate Margin of Error; PERCENTAGE OF FAMILI...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate Margin of Error; PERCENTAGE OF FAMILI...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error; PERCENTAGE OF FAMILIE...
1,0500000US01001,1001,"Autauga County, Alabama",40330,135,40330,(X),26635,514,66,...,8.6,2.5,(X),(X),8.4,1.4,(X),(X),25.3,3.8
2,0500000US01003,1003,"Baldwin County, Alabama",139777,313,139777,(X),84253,1300,60.3,...,5.4,1,(X),(X),10.7,1.2,(X),(X),20.9,1.7
3,0500000US01005,1005,"Barbour County, Alabama",22193,90,22193,(X),10966,523,49.4,...,20.2,4.6,(X),(X),21.3,2.9,(X),(X),43.8,6
4,0500000US01007,1007,"Bibb County, Alabama",17963,182,17963,(X),10806,531,60.2,...,11.3,4.6,(X),(X),10.6,3.2,(X),(X),28.5,6.9

In [33]:
#Economic Data (census data files for 3 different years)
#for 2005
econ_2005_file ="../ETL_group_project/Resources/ACS_2005_DP03.csv"
econ_2005_df = pd.read_csv(econ_2005_file, low_memory=False)
econ_2005_df.head()

,GEO.id,GEO.id2,GEO.display-label,EST_VC02,MOE_VC02,EST_VC03,MOE_VC03,EST_VC04,MOE_VC04,EST_VC05,...,EST_VC115,MOE_VC115,EST_VC116,MOE_VC116,EST_VC117,MOE_VC117,EST_VC118,MOE_VC118,EST_VC119,MOE_VC119
0,Id,Id2,Geography,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Margin of Error; EMPLOYMENT STATUS - Populatio...,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Margin of Error; EMPLOYMENT STATUS - Populatio...,Estimate; EMPLOYMENT STATUS - Population 16 ye...,Margin of Error; EMPLOYMENT STATUS - Populatio...,Estimate; EMPLOYMENT STATUS - Population 16 ye...,...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error; PERCENTAGE OF FAMILIES AND PE...
1,0500000US01003,1003,"Baldwin County, Alabama",128010,736,79946,2525,78914,2696,74780,...,9.8,2.7,11.6,3.4,2.9,1.6,12.3,4,17.7,4.6
2,0500000US01015,1015,"Calhoun County, Alabama",86920,785,52629,1911,52400,1933,48482,...,15.2,2.4,16,2.8,11.4,3.7,13.3,2.8,31.5,5.3
3,0500000US01043,1043,"Cullman County, Alabama",62691,510,38725,1930,38552,1935,35998,...,14.1,2.7,13.9,3.1,14.9,4.3,11.6,3.4,39.8,7.7
4,0500000US01049,1049,"DeKalb County, Alabama",N,N,N,N,N,N,N,...,21,4.3,21.7,5.1,18,6.8,19.1,5.1,43.1,9.8

### Step 3: Transforming  Life Expectancy DataFrame

In [6]:
#Copy desired columns
life_expect_cols = ["Location", "State", "FIPS", "Life expectancy, 2005*", "Life expectancy, 2010*", "Life expectancy, 2014*"]
life_expect_df2 = life_expect_df[life_expect_cols].copy()

#drop rows to isolate COUNTY data (1 of 2)
life_expect_df3 = life_expect_df2.drop([0, 1])
life_expect_df3.head()

,Location,State,FIPS,"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
2,Autauga County,Alabama,1001.0,"74.71 (74.23, 75.20)","75.74 (75.25, 76.25)","75.67 (75.15, 76.18)"
3,Baldwin County,Alabama,1003.0,"77.09 (76.72, 77.47)","77.80 (77.45, 78.14)","78.08 (77.72, 78.43)"
4,Barbour County,Alabama,1005.0,"74.30 (73.69, 74.87)","75.34 (74.72, 75.95)","75.42 (74.78, 76.07)"
5,Bibb County,Alabama,1007.0,"73.38 (72.78, 73.97)","74.13 (73.48, 74.77)","73.97 (73.28, 74.68)"
6,Blount County,Alabama,1009.0,"75.71 (75.25, 76.19)","76.41 (75.96, 76.91)","76.16 (75.66, 76.69)"

In [7]:
#drop rows to isolate COUNTY data, (2 of 2)
state_list = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [8]:
for index, row in life_expect_df3.iterrows():
    if row["Location"] in state_list:
        life_expect_df3.drop(index, inplace=True)
        print("dropped",row['Location'])

dropped Alaska
dropped Arizona
dropped Arkansas
dropped California
dropped Colorado
dropped Connecticut
dropped Delaware
dropped Florida
dropped Georgia
dropped Hawaii
dropped Idaho
dropped Illinois
dropped Indiana
dropped Iowa
dropped Kansas
dropped Kentucky
dropped Louisiana
dropped Maine
dropped Maryland
dropped Massachusetts
dropped Michigan
dropped Minnesota
dropped Mississippi
dropped Missouri
dropped Montana
dropped Nebraska
dropped Nevada
dropped New Hampshire
dropped New Jersey
dropped New Mexico
dropped New York
dropped North Carolina
dropped North Dakota
dropped Ohio
dropped Oklahoma
dropped Oregon
dropped Pennsylvania
dropped Rhode Island
dropped South Carolina
dropped South Dakota
dropped Tennessee
dropped Texas
dropped Utah
dropped Vermont
dropped Virginia
dropped Washington
dropped West Virginia
dropped Wisconsin
dropped Wyoming

In [9]:
life_expect_df3.head()

,Location,State,FIPS,"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
2,Autauga County,Alabama,1001.0,"74.71 (74.23, 75.20)","75.74 (75.25, 76.25)","75.67 (75.15, 76.18)"
3,Baldwin County,Alabama,1003.0,"77.09 (76.72, 77.47)","77.80 (77.45, 78.14)","78.08 (77.72, 78.43)"
4,Barbour County,Alabama,1005.0,"74.30 (73.69, 74.87)","75.34 (74.72, 75.95)","75.42 (74.78, 76.07)"
5,Bibb County,Alabama,1007.0,"73.38 (72.78, 73.97)","74.13 (73.48, 74.77)","73.97 (73.28, 74.68)"
6,Blount County,Alabama,1009.0,"75.71 (75.25, 76.19)","76.41 (75.96, 76.91)","76.16 (75.66, 76.69)"

In [10]:
#Remove unneccsary values from life expectancy columns
life_expect_df3["Life expectancy, 2005*"] = life_expect_df3["Life expectancy, 2005*"].str[:5]
life_expect_df3["Life expectancy, 2010*"] = life_expect_df3["Life expectancy, 2010*"].str[:5]
life_expect_df3["Life expectancy, 2014*"] = life_expect_df3["Life expectancy, 2014*"].str[:5]

#Rename columns
final_life_expect = life_expect_df3.rename(columns={"Location":"County"})
final_life_expect.head()

,County,State,FIPS,"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
2,Autauga County,Alabama,1001.0,74.71,75.74,75.67
3,Baldwin County,Alabama,1003.0,77.09,77.80,78.08
4,Barbour County,Alabama,1005.0,74.30,75.34,75.42
5,Bibb County,Alabama,1007.0,73.38,74.13,73.97
6,Blount County,Alabama,1009.0,75.71,76.41,76.16

In [34]:
#Convert dtyes as necessary
final_life_expect.dtypes

County                    object
State                     object
FIPS                      object
Life expectancy, 2005*    object
Life expectancy, 2010*    object
Life expectancy, 2014*    object
dtype: object

In [35]:
#Convert FIPS dtype from float to int
#df.a = df.a.astype(float)
final_life_expect.FIPS  = final_life_expect.FIPS.astype(str)
final_life_expect["FIPS"] = final_life_expect["FIPS"].str[:4]


final_life_expect.head()

,County,State,FIPS,"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
2,Autauga County,Alabama,1001,74.71,75.74,75.67
3,Baldwin County,Alabama,1003,77.09,77.80,78.08
4,Barbour County,Alabama,1005,74.30,75.34,75.42
5,Bibb County,Alabama,1007,73.38,74.13,73.97
6,Blount County,Alabama,1009,75.71,76.41,76.16

### Step 4: Transform Economic DataFrames

In [36]:
#for 2014
#Copy desired columns
econ_2014_cols = ["GEO.id2", "GEO.display-label", "HC01_VC85", "HC03_VC161"]
econ_2014_df2 = econ_2014_df[econ_2014_cols].copy()

#Rename Columns 
econ_2014_df3 = econ_2014_df2.rename(columns={"GEO.id2":"FIPS", "GEO.display-label": "County", "HC01_VC85": "2014 Median Income ($)", "HC03_VC161": "2014 Poverty Rate (%)"})

#Drop description row
econ_2014_df4 = econ_2014_df3.drop([0])
econ_2014_df4.head()

   FIPS                   County 2014 Median Income ($) 2014 Poverty Rate (%)
1  1001  Autauga County, Alabama                  52475                   9.1
2  1003  Baldwin County, Alabama                  50183                  10.2
3  1005  Barbour County, Alabama                  35634                  19.1
4  1007     Bibb County, Alabama                  37984                    13
5  1009   Blount County, Alabama                  44409                  13.2

In [37]:
#for 2010
#Copy desired columns
econ_2010_cols = ["GEO.id2", "GEO.display-label", "HC01_VC85", "HC03_VC156"]
econ_2010_df2 = econ_2010_df[econ_2010_cols].copy()

#Rename Columns 
econ_2010_df3 = econ_2010_df2.rename(columns={"GEO.id2":"FIPS", "GEO.display-label": "County", "HC01_VC85": "2010 Median Income ($)", "HC03_VC156": "2010 Poverty Rate (%)"})

#Drop description row
econ_2010_df4 = econ_2010_df3.drop([0])
econ_2010_df4.head()

   FIPS                   County 2010 Median Income ($) 2010 Poverty Rate (%)
1  1001  Autauga County, Alabama                  53255                   7.5
2  1003  Baldwin County, Alabama                  50147                   9.1
3  1005  Barbour County, Alabama                  33219                  19.9
4  1007     Bibb County, Alabama                  41770                   9.4
5  1009   Blount County, Alabama                  45549                    10

In [38]:
#for 2005
econ_2005_cols = ["GEO.id2", "GEO.display-label", "EST_VC67", "EST_VC101"]
econ_2005_df2 = econ_2005_df[econ_2005_cols].copy()

#Rename Columns 
econ_2005_df3 = econ_2005_df2.rename(columns={"GEO.id2":"FIPS", "GEO.display-label": "County", "EST_VC67": "2005 Median Income ($)", "EST_VC101": "2005 Poverty Rate (%)"})

#Drop description row
econ_2005_df4 = econ_2005_df3.drop([0])
econ_2005_df4.head()

   FIPS                   County 2005 Median Income ($) 2005 Poverty Rate (%)
1  1003  Baldwin County, Alabama                  42119                  10.2
2  1015  Calhoun County, Alabama                  36243                  12.3
3  1043  Cullman County, Alabama                  37153                     N
4  1049   DeKalb County, Alabama                  29053                    18
5  1051   Elmore County, Alabama                  45802                     N

In [16]:
#Merge all Economic data into 1 dataframe
combo_2014_2010 = pd.merge(econ_2014_df4, econ_2010_df4, on=["FIPS", "County"])
combo_all_econ = pd.merge (combo_2014_2010, econ_2005_df4, on=["FIPS", "County"])
combo_all_econ.head()

,FIPS,County,2014 Median Income ($),2014 Poverty Rate (%),2010 Median Income ($),2010 Poverty Rate (%),2005 Median Income ($),2005 Poverty Rate (%)
0,1003,"Baldwin County, Alabama",50183,10.2,50147,9.1,42119,10.2
1,1015,"Calhoun County, Alabama",40919,17,38407,15.2,36243,12.3
2,1043,"Cullman County, Alabama",39415,13.4,38567,12.8,37153,N
3,1049,"DeKalb County, Alabama",37977,14.7,35065,16,29053,18
4,1051,"Elmore County, Alabama",54159,10.4,53128,9.1,45802,N

In [17]:
#split up the data in the "County" column into "County" and "State"
split_df = combo_all_econ["County"].str.split(',', expand=True)
split_df.head()

#join the dataframes back together
econ_df = split_df.join(combo_all_econ)
econ_df2 = econ_df.drop(columns=["County"])


#rename columns
final_econ_df = econ_df2.rename(columns={0:"County", 1: "State"})
final_econ_df.head()

,County,State,FIPS,2014 Median Income ($),2014 Poverty Rate (%),2010 Median Income ($),2010 Poverty Rate (%),2005 Median Income ($),2005 Poverty Rate (%)
0,Baldwin County,Alabama,1003,50183,10.2,50147,9.1,42119,10.2
1,Calhoun County,Alabama,1015,40919,17,38407,15.2,36243,12.3
2,Cullman County,Alabama,1043,39415,13.4,38567,12.8,37153,N
3,DeKalb County,Alabama,1049,37977,14.7,35065,16,29053,18
4,Elmore County,Alabama,1051,54159,10.4,53128,9.1,45802,N

### Step 5: Create Final Tables for Database

We decided that the easiest way for our others to continue to add on to our database over time would be to organize it by year. So, we used our transformed life expectancy and economic data tables to develop dataframes for each year. We also created a 'County' table that contains identifying information for each county.

In [18]:
#Merge the 2 transformed table into one master DataFrame
final_econ_df
final_life_expect
master_df = pd.merge(final_econ_df, final_life_expect, on=["County", "State", "FIPS"])
master_df.head()

,County,State,FIPS,2014 Median Income ($),2014 Poverty Rate (%),2010 Median Income ($),2010 Poverty Rate (%),2005 Median Income ($),2005 Poverty Rate (%),"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
0,Baldwin County,Alabama,1003,50183,10.2,50147,9.1,42119,10.2,77.09,77.80,78.08
1,Calhoun County,Alabama,1015,40919,17,38407,15.2,36243,12.3,73.41,74.11,74.02
2,Cullman County,Alabama,1043,39415,13.4,38567,12.8,37153,N,74.90,75.48,75.31
3,DeKalb County,Alabama,1049,37977,14.7,35065,16,29053,18,74.80,75.33,75.25
4,Elmore County,Alabama,1051,54159,10.4,53128,9.1,45802,N,75.33,75.95,75.93

In [19]:
#Format master table dtypes
master_df.dtypes

County                    object
State                     object
FIPS                      object
2014 Median Income ($)    object
2014 Poverty Rate (%)     object
2010 Median Income ($)    object
2010 Poverty Rate (%)     object
2005 Median Income ($)    object
2005 Poverty Rate (%)     object
Life expectancy, 2005*    object
Life expectancy, 2010*    object
Life expectancy, 2014*    object
dtype: object

In [20]:
#convert objects to strings as needed
master_df.FIPS = master_df.FIPS.astype(int)
master_df["2014 Median Income ($)"] = master_df["2014 Median Income ($)"].astype(int)
master_df["2010 Median Income ($)"] = master_df["2010 Median Income ($)"].astype(int)
master_df["2005 Median Income ($)"] = master_df["2005 Median Income ($)"].astype(int)

master_df['2014 Median Income ($)'] = master_df['2014 Median Income ($)'].map("${:,.0f}".format)
master_df['2010 Median Income ($)'] = master_df['2010 Median Income ($)'].map("${:,.0f}".format)
master_df['2005 Median Income ($)'] = master_df['2005 Median Income ($)'].map("${:,.0f}".format)


master_df.head()

,County,State,FIPS,2014 Median Income ($),2014 Poverty Rate (%),2010 Median Income ($),2010 Poverty Rate (%),2005 Median Income ($),2005 Poverty Rate (%),"Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*"
0,Baldwin County,Alabama,1003,"$50,183",10.2,"$50,147",9.1,"$42,119",10.2,77.09,77.80,78.08
1,Calhoun County,Alabama,1015,"$40,919",17,"$38,407",15.2,"$36,243",12.3,73.41,74.11,74.02
2,Cullman County,Alabama,1043,"$39,415",13.4,"$38,567",12.8,"$37,153",N,74.90,75.48,75.31
3,DeKalb County,Alabama,1049,"$37,977",14.7,"$35,065",16,"$29,053",18,74.80,75.33,75.25
4,Elmore County,Alabama,1051,"$54,159",10.4,"$53,128",9.1,"$45,802",N,75.33,75.95,75.93

In [21]:
#create County Table
county_df = master_df[["FIPS","County", "State"]]
county_df= county_df.set_index("FIPS")

county_df.head()

              County     State
FIPS
1003  Baldwin County   Alabama
1015  Calhoun County   Alabama
1043  Cullman County   Alabama
1049   DeKalb County   Alabama
1051   Elmore County   Alabama

In [22]:
#create Year tables
#2014 Table
year_2014_df = master_df[["FIPS", "2014 Median Income ($)", "2014 Poverty Rate (%)", "Life expectancy, 2014*"]]

In [23]:
year_2014_df = year_2014_df.rename(columns={"2014 Median Income ($)":"Median_Income", 
                             "2014 Poverty Rate (%)": "Poverty_Rate", 
                             "Life expectancy, 2014*": "Life_Expectancy"})

year_2014_df = year_2014_df.set_index("FIPS")
year_2014_df.head()

     Median_Income Poverty_Rate Life_Expectancy
FIPS
1003       $50,183         10.2           78.08
1015       $40,919           17           74.02
1043       $39,415         13.4           75.31
1049       $37,977         14.7           75.25
1051       $54,159         10.4           75.93

In [24]:
#2010 Table
year_2010_df = master_df[["FIPS", "2010 Median Income ($)", "2010 Poverty Rate (%)", "Life expectancy, 2010*"]]

year_2010_df = year_2010_df.rename(columns={"2010 Median Income ($)":"Median_Income", 
                             "2010 Poverty Rate (%)": "Poverty_Rate", 
                             "Life expectancy, 2010*": "Life_Expectancy"})

year_2010_df = year_2010_df.set_index("FIPS")
year_2010_df.head()

     Median_Income Poverty_Rate Life_Expectancy
FIPS
1003       $50,147          9.1           77.80
1015       $38,407         15.2           74.11
1043       $38,567         12.8           75.48
1049       $35,065           16           75.33
1051       $53,128          9.1           75.95

In [25]:
#2005 Table 
year_2005_df = master_df[["FIPS", "2005 Median Income ($)", "2005 Poverty Rate (%)", "Life expectancy, 2005*"]]

year_2005_df = year_2005_df.rename(columns={"2005 Median Income ($)":"Median_Income", 
                             "2005 Poverty Rate (%)": "Poverty_Rate", 
                             "Life expectancy, 2005*": "Life_Expectancy"})

year_2005_df = year_2005_df.set_index("FIPS")
year_2005_df.head()

     Median_Income Poverty_Rate Life_Expectancy
FIPS
1003       $42,119         10.2           77.09
1015       $36,243         12.3           73.41
1043       $37,153            N           74.90
1049       $29,053           18           74.80
1051       $45,802            N           75.33

### Step 6: Create Database Connection & Build SQL Database

In [26]:
# Write connection string
connection_string = "root:773Anumanum@localhost/longevity_SES_db"
engine = create_engine(f'mysql://{connection_string}')

In [29]:
# Check connection to MySQL database
engine.table_names()

['county', 'year_2005', 'year_2010', 'year_2014']

In [39]:
# Push data to MySQL tables
county_df.to_sql(name='county',con=engine,if_exists="append", index=True)
year_2014_df.to_sql(name='year_2014',con=engine,if_exists="append", index=True)
year_2010_df.to_sql(name='year_2010',con=engine,if_exists="append", index=True)
year_2005_df.to_sql(name='year_2005',con=engine,if_exists="append", index=True)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1003' for key 'PRIMARY'") [SQL: 'INSERT INTO county (`FIPS`, `County`, `State`) VALUES (%(FIPS_m0)s, %(County_m0)s, %(State_m0)s), (%(FIPS_m1)s, %(County_m1)s, %(State_m1)s), (%(FIPS_m2)s, %(County_m2)s, %(State_m2)s), (%(FIPS_m3)s, %(County_m3)s, %(State_m3)s), (%(FIPS_m4)s, %(County_m4)s, %(State_m4)s), (%(FIPS_m5)s, %(County_m5)s, %(State_m5)s), (%(FIPS_m6)s, %(County_m6)s, %(State_m6)s), (%(FIPS_m7)s, %(County_m7)s, %(State_m7)s), (%(FIPS_m8)s, %(County_m8)s, %(State_m8)s), (%(FIPS_m9)s, %(County_m9)s, %(State_m9)s), (%(FIPS_m10)s, %(County_m10)s, %(State_m10)s), (%(FIPS_m11)s, %(County_m11)s, %(State_m11)s), (%(FIPS_m12)s, %(County_m12)s, %(State_m12)s), (%(FIPS_m13)s, %(County_m13)s, %(State_m13)s), (%(FIPS_m14)s, %(County_m14)s, %(State_m14)s), (%(FIPS_m15)s, %(County_m15)s, %(State_m15)s), (%(FIPS_m16)s, %(County_m16)s, %(State_m16)s), (%(FIPS_m17)s, %(County_m17)s, %(State_m17)s), (%(FIPS_m18)s, %(County_m18)s, %(State_m18)s), (%(FIPS_m19)s, %(County_m19)s, %(State_m19)s), (%(FIPS_m20)s, %(County_m20)s, %(State_m20)s), (%(FIPS_m21)s, %(County_m21)s, %(State_m21)s), (%(FIPS_m22)s, %(County_m22)s, %(State_m22)s), (%(FIPS_m23)s, %(County_m23)s, %(State_m23)s), (%(FIPS_m24)s, %(County_m24)s, %(State_m24)s), (%(FIPS_m25)s, %(County_m25)s, %(State_m25)s), (%(FIPS_m26)s, %(County_m26)s, %(State_m26)s), (%(FIPS_m27)s, %(County_m27)s, %(State_m27)s), (%(FIPS_m28)s, %(County_m28)s, %(State_m28)s), (%(FIPS_m29)s, %(County_m29)s, %(State_m29)s), (%(FIPS_m30)s, %(County_m30)s, %(State_m30)s), (%(FIPS_m31)s, %(County_m31)s, %(State_m31)s), (%(FIPS_m32)s, %(County_m32)s, %(State_m32)s), (%(FIPS_m33)s, %(County_m33)s, %(State_m33)s), (%(FIPS_m34)s, %(County_m34)s, %(State_m34)s), (%(FIPS_m35)s, %(County_m35)s, %(State_m35)s), (%(FIPS_m36)s, %(County_m36)s, %(State_m36)s), (%(FIPS_m37)s, %(County_m37)s, %(State_m37)s), (%(FIPS_m38)s, %(County_m38)s, %(State_m38)s), (%(FIPS_m39)s, %(County_m39)s, %(State_m39)s), (%(FIPS_m40)s, %(County_m40)s, %(State_m40)s), (%(FIPS_m41)s, %(County_m41)s, %(State_m41)s), (%(FIPS_m42)s, %(County_m42)s, %(State_m42)s), (%(FIPS_m43)s, %(County_m43)s, %(State_m43)s), (%(FIPS_m44)s, %(County_m44)s, %(State_m44)s), (%(FIPS_m45)s, %(County_m45)s, %(State_m45)s), (%(FIPS_m46)s, %(County_m46)s, %(State_m46)s), (%(FIPS_m47)s, %(County_m47)s, %(State_m47)s), (%(FIPS_m48)s, %(County_m48)s, %(State_m48)s), (%(FIPS_m49)s, %(County_m49)s, %(State_m49)s), (%(FIPS_m50)s, %(County_m50)s, %(State_m50)s), (%(FIPS_m51)s, %(County_m51)s, %(State_m51)s), (%(FIPS_m52)s, %(County_m52)s, %(State_m52)s), (%(FIPS_m53)s, %(County_m53)s, %(State_m53)s), (%(FIPS_m54)s, %(County_m54)s, %(State_m54)s), (%(FIPS_m55)s, %(County_m55)s, %(State_m55)s), (%(FIPS_m56)s, %(County_m56)s, %(State_m56)s), (%(FIPS_m57)s, %(County_m57)s, %(State_m57)s), (%(FIPS_m58)s, %(County_m58)s, %(State_m58)s), (%(FIPS_m59)s, %(County_m59)s, %(State_m59)s), (%(FIPS_m60)s, %(County_m60)s, %(State_m60)s), (%(FIPS_m61)s, %(County_m61)s, %(State_m61)s), (%(FIPS_m62)s, %(County_m62)s, %(State_m62)s), (%(FIPS_m63)s, %(County_m63)s, %(State_m63)s), (%(FIPS_m64)s, %(County_m64)s, %(State_m64)s), (%(FIPS_m65)s, %(County_m65)s, %(State_m65)s), (%(FIPS_m66)s, %(County_m66)s, %(State_m66)s), (%(FIPS_m67)s, %(County_m67)s, %(State_m67)s), (%(FIPS_m68)s, %(County_m68)s, %(State_m68)s), (%(FIPS_m69)s, %(County_m69)s, %(State_m69)s), (%(FIPS_m70)s, %(County_m70)s, %(State_m70)s), (%(FIPS_m71)s, %(County_m71)s, %(State_m71)s), (%(FIPS_m72)s, %(County_m72)s, %(State_m72)s), (%(FIPS_m73)s, %(County_m73)s, %(State_m73)s), (%(FIPS_m74)s, %(County_m74)s, %(State_m74)s), (%(FIPS_m75)s, %(County_m75)s, %(State_m75)s), (%(FIPS_m76)s, %(County_m76)s, %(State_m76)s), (%(FIPS_m77)s, %(County_m77)s, %(State_m77)s), (%(FIPS_m78)s, %(County_m78)s, %(State_m78)s), (%(FIPS_m79)s, %(County_m79)s, %(State_m79)s), (%(FIPS_m80)s, %(County_m80)s, %(State_m80)s), (%(FIPS_m81)s, %(County_m81)s, %(State_m81)s), (%(FIPS_m82)s, %(County_m82)s, %(State_m82)s), (%(FIPS_m83)s, %(County_m83)s, %(State_m83)s), (%(FIPS_m84)s, %(County_m84)s, %(State_m84)s), (%(FIPS_m85)s, %(County_m85)s, %(State_m85)s), (%(FIPS_m86)s, %(County_m86)s, %(State_m86)s), (%(FIPS_m87)s, %(County_m87)s, %(State_m87)s), (%(FIPS_m88)s, %(County_m88)s, %(State_m88)s), (%(FIPS_m89)s, %(County_m89)s, %(State_m89)s), (%(FIPS_m90)s, %(County_m90)s, %(State_m90)s), (%(FIPS_m91)s, %(County_m91)s, %(State_m91)s), (%(FIPS_m92)s, %(County_m92)s, %(State_m92)s), (%(FIPS_m93)s, %(County_m93)s, %(State_m93)s), (%(FIPS_m94)s, %(County_m94)s, %(State_m94)s), (%(FIPS_m95)s, %(County_m95)s, %(State_m95)s), (%(FIPS_m96)s, %(County_m96)s, %(State_m96)s), (%(FIPS_m97)s, %(County_m97)s, %(State_m97)s), (%(FIPS_m98)s, %(County_m98)s, %(State_m98)s), (%(FIPS_m99)s, %(County_m99)s, %(State_m99)s), (%(FIPS_m100)s, %(County_m100)s, %(State_m100)s), (%(FIPS_m101)s, %(County_m101)s, %(State_m101)s)'] [parameters: {'FIPS_m0': 1003, 'County_m0': 'Baldwin County', 'State_m0': ' Alabama', 'FIPS_m1': 1015, 'County_m1': 'Calhoun County', 'State_m1': ' Alabama', 'FIPS_m2': 1043, 'County_m2': 'Cullman County', 'State_m2': ' Alabama', 'FIPS_m3': 1049, 'County_m3': 'DeKalb County', 'State_m3': ' Alabama', 'FIPS_m4': 1051, 'County_m4': 'Elmore County', 'State_m4': ' Alabama', 'FIPS_m5': 1055, 'County_m5': 'Etowah County', 'State_m5': ' Alabama', 'FIPS_m6': 1069, 'County_m6': 'Houston County', 'State_m6': ' Alabama', 'FIPS_m7': 1073, 'County_m7': 'Jefferson County', 'State_m7': ' Alabama', 'FIPS_m8': 1077, 'County_m8': 'Lauderdale County', 'State_m8': ' Alabama', 'FIPS_m9': 1081, 'County_m9': 'Lee County', 'State_m9': ' Alabama', 'FIPS_m10': 1083, 'County_m10': 'Limestone County', 'State_m10': ' Alabama', 'FIPS_m11': 1089, 'County_m11': 'Madison County', 'State_m11': ' Alabama', 'FIPS_m12': 1095, 'County_m12': 'Marshall County', 'State_m12': ' Alabama', 'FIPS_m13': 1097, 'County_m13': 'Mobile County', 'State_m13': ' Alabama', 'FIPS_m14': 1101, 'County_m14': 'Montgomery County', 'State_m14': ' Alabama', 'FIPS_m15': 1103, 'County_m15': 'Morgan County', 'State_m15': ' Alabama', 'FIPS_m16': 1117, 'County_m16': 'Shelby County', 'State_m16': ' Alabama', 'FIPS_m17': 1121, 'County_m17': 'Talladega County', 'State_m17': ' Alabama', 'FIPS_m18': 1125, 'County_m18': 'Tuscaloosa County', 'State_m18': ' Alabama', 'FIPS_m19': 1127, 'County_m19': 'Walker County', 'State_m19': ' Alabama', 'FIPS_m20': 2020, 'County_m20': 'Anchorage Municipality', 'State_m20': ' Alaska', 'FIPS_m21': 2090, 'County_m21': 'Fairbanks North Star Borough', 'State_m21': ' Alaska', 'FIPS_m22': 2170, 'County_m22': 'Matanuska-Susitna Borough', 'State_m22': ' Alaska', 'FIPS_m23': 4001, 'County_m23': 'Apache County', 'State_m23': ' Arizona', 'FIPS_m24': 4003, 'County_m24': 'Cochise County', 'State_m24': ' Arizona', 'FIPS_m25': 4005, 'County_m25': 'Coconino County', 'State_m25': ' Arizona', 'FIPS_m26': 4013, 'County_m26': 'Maricopa County', 'State_m26': ' Arizona', 'FIPS_m27': 4015, 'County_m27': 'Mohave County', 'State_m27': ' Arizona', 'FIPS_m28': 4017, 'County_m28': 'Navajo County', 'State_m28': ' Arizona', 'FIPS_m29': 4019, 'County_m29': 'Pima County', 'State_m29': ' Arizona', 'FIPS_m30': 4021, 'County_m30': 'Pinal County', 'State_m30': ' Arizona', 'FIPS_m31': 4025, 'County_m31': 'Yavapai County', 'State_m31': ' Arizona', 'FIPS_m32': 4027, 'County_m32': 'Yuma County', 'State_m32': ' Arizona', 'FIPS_m33': 5007, 'County_m33': 'Benton County', 'State_m33': ' Arkansas', 'FIPS_m34': 5031, 'County_m34': 'Craighead County', 'State_m34': ' Arkansas', 'FIPS_m35': 5045, 'County_m35': 'Faulkner County', 'State_m35': ' Arkansas', 'FIPS_m36': 5051, 'County_m36': 'Garland County', 'State_m36': ' Arkansas', 'FIPS_m37': 5069, 'County_m37': 'Jefferson County', 'State_m37': ' Arkansas', 'FIPS_m38': 5119, 'County_m38': 'Pulaski County', 'State_m38': ' Arkansas', 'FIPS_m39': 5125, 'County_m39': 'Saline County', 'State_m39': ' Arkansas', 'FIPS_m40': 5131, 'County_m40': 'Sebastian County', 'State_m40': ' Arkansas', 'FIPS_m41': 5143, 'County_m41': 'Washington County', 'State_m41': ' Arkansas', 'FIPS_m42': 5145, 'County_m42': 'White County', 'State_m42': ' Arkansas', 'FIPS_m43': 6001, 'County_m43': 'Alameda County', 'State_m43': ' California', 'FIPS_m44': 6007, 'County_m44': 'Butte County', 'State_m44': ' California', 'FIPS_m45': 6013, 'County_m45': 'Contra Costa County', 'State_m45': ' California', 'FIPS_m46': 6017, 'County_m46': 'El Dorado County', 'State_m46': ' California', 'FIPS_m47': 6019, 'County_m47': 'Fresno County', 'State_m47': ' California', 'FIPS_m48': 6023, 'County_m48': 'Humboldt County', 'State_m48': ' California', 'FIPS_m49': 6025, 'County_m49': 'Imperial County', 'State_m49': ' California', 'FIPS_m50': 6029, 'County_m50': 'Kern County', 'State_m50': ' California', 'FIPS_m51': 6031, 'County_m51': 'Kings County', 'State_m51': ' California', 'FIPS_m52': 6033, 'County_m52': 'Lake County', 'State_m52': ' California', 'FIPS_m53': 6037, 'County_m53': 'Los Angeles County', 'State_m53': ' California', 'FIPS_m54': 6039, 'County_m54': 'Madera County', 'State_m54': ' California', 'FIPS_m55': 6041, 'County_m55': 'Marin County', 'State_m55': ' California', 'FIPS_m56': 6045, 'County_m56': 'Mendocino County', 'State_m56': ' California', 'FIPS_m57': 6047, 'County_m57': 'Merced County', 'State_m57': ' California', 'FIPS_m58': 6053, 'County_m58': 'Monterey County', 'State_m58': ' California', 'FIPS_m59': 6055, 'County_m59': 'Napa County', 'State_m59': ' California', 'FIPS_m60': 6057, 'County_m60': 'Nevada County', 'State_m60': ' California', 'FIPS_m61': 6059, 'County_m61': 'Orange County', 'State_m61': ' California', 'FIPS_m62': 6061, 'County_m62': 'Placer County', 'State_m62': ' California', 'FIPS_m63': 6065, 'County_m63': 'Riverside County', 'State_m63': ' California', 'FIPS_m64': 6067, 'County_m64': 'Sacramento County', 'State_m64': ' California', 'FIPS_m65': 6071, 'County_m65': 'San Bernardino County', 'State_m65': ' California', 'FIPS_m66': 6073, 'County_m66': 'San Diego County', 'State_m66': ' California', 'FIPS_m67': 6075, 'County_m67': 'San Francisco County', 'State_m67': ' California', 'FIPS_m68': 6077, 'County_m68': 'San Joaquin County', 'State_m68': ' California', 'FIPS_m69': 6079, 'County_m69': 'San Luis Obispo County', 'State_m69': ' California', 'FIPS_m70': 6081, 'County_m70': 'San Mateo County', 'State_m70': ' California', 'FIPS_m71': 6083, 'County_m71': 'Santa Barbara County', 'State_m71': ' California', 'FIPS_m72': 6085, 'County_m72': 'Santa Clara County', 'State_m72': ' California', 'FIPS_m73': 6087, 'County_m73': 'Santa Cruz County', 'State_m73': ' California', 'FIPS_m74': 6089, 'County_m74': 'Shasta County', 'State_m74': ' California', 'FIPS_m75': 6095, 'County_m75': 'Solano County', 'State_m75': ' California', 'FIPS_m76': 6097, 'County_m76': 'Sonoma County', 'State_m76': ' California', 'FIPS_m77': 6099, 'County_m77': 'Stanislaus County', 'State_m77': ' California', 'FIPS_m78': 6101, 'County_m78': 'Sutter County', 'State_m78': ' California', 'FIPS_m79': 6107, 'County_m79': 'Tulare County', 'State_m79': ' California', 'FIPS_m80': 6111, 'County_m80': 'Ventura County', 'State_m80': ' California', 'FIPS_m81': 6113, 'County_m81': 'Yolo County', 'State_m81': ' California', 'FIPS_m82': 6115, 'County_m82': 'Yuba County', 'State_m82': ' California', 'FIPS_m83': 8001, 'County_m83': 'Adams County', 'State_m83': ' Colorado', 'FIPS_m84': 8005, 'County_m84': 'Arapahoe County', 'State_m84': ' Colorado', 'FIPS_m85': 8013, 'County_m85': 'Boulder County', 'State_m85': ' Colorado', 'FIPS_m86': 8031, 'County_m86': 'Denver County', 'State_m86': ' Colorado', 'FIPS_m87': 8035, 'County_m87': 'Douglas County', 'State_m87': ' Colorado', 'FIPS_m88': 8041, 'County_m88': 'El Paso County', 'State_m88': ' Colorado', 'FIPS_m89': 8059, 'County_m89': 'Jefferson County', 'State_m89': ' Colorado', 'FIPS_m90': 8069, 'County_m90': 'Larimer County', 'State_m90': ' Colorado', 'FIPS_m91': 8077, 'County_m91': 'Mesa County', 'State_m91': ' Colorado', 'FIPS_m92': 8101, 'County_m92': 'Pueblo County', 'State_m92': ' Colorado', 'FIPS_m93': 8123, 'County_m93': 'Weld County', 'State_m93': ' Colorado', 'FIPS_m94': 9001, 'County_m94': 'Fairfield County', 'State_m94': ' Connecticut', 'FIPS_m95': 9003, 'County_m95': 'Hartford County', 'State_m95': ' Connecticut', 'FIPS_m96': 9005, 'County_m96': 'Litchfield County', 'State_m96': ' Connecticut', 'FIPS_m97': 9007, 'County_m97': 'Middlesex County', 'State_m97': ' Connecticut', 'FIPS_m98': 9009, 'County_m98': 'New Haven County', 'State_m98': ' Connecticut', 'FIPS_m99': 9011, 'County_m99': 'New London County', 'State_m99': ' Connecticut', 'FIPS_m100': 9013, 'County_m100': 'Tolland County', 'State_m100': ' Connecticut', 'FIPS_m101': 9015, 'County_m101': 'Windham County', 'State_m101': ' Connecticut'}] (Background on this error at: http://sqlalche.me/e/gkpj)